.venue-block {
  display: inline-flex;

  .venue-info {
    margin: auto 5px;

    .location {
      color: $gray-900;
      font-size: 22px;
      font-weight: 200;
      line-height: 22px;
      @include heading-font;
    }
    .address {
      color: $gray-900;
      font-size: 22px;
      font-weight: 200;
      line-height: 22px;
      @include heading-font;
    }
    .time {
      font-size: 22px;
      font-weight: 200;
      line-height: 22px;
      @include heading-font;
    }
  }
}


.directions-block {
  padding-top: 25px;

  .directions-btn {
    // background-color: #568f56;  // Green
    // border-color: #568f56;  // Green
    background-color: $gray-400;  // Green
    border-color: $gray-400;  // Green
    color: $black;
    &:hover {
      // background-color: darken(#568f56, 7.5%) !important;
      // border-color: darken(#568f56, 7.5%) !important;
      background-color: darken($gray-400, 7.5%) !important;
      border-color: darken($gray-400, 7.5%) !important;
      color: lighten($black, 7.5%) !important;
    }
    &:active {
      box-shadow: 0 0 0 0 #000 !important;
    }
    &:focus {
      box-shadow: 0 0 0 0 #000 !important;
    }
  }
}

.venue-photo-block {
  .venue-photo{
    // background-color: #adb5bd;
    border-color: black;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 768px) {
  .directions-block {
    .directions-btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 250px;
    }
  }
  .venue-block {
    .venue-info {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 50px;
    }
  }
  .venue-photo-block {
    .venue-photo{
      height: 200px;
      width: 200px;
    }
  }
}
